@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  @apply bg-background-primary;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  .h_screen_ios {
    /* The hack for Safari */
    @apply !h-[-webkit-fill-available];
  }
}

* {
  line-height: 100%;
}

.container {
  @apply !max-w-screen-4xl;
}

@variants responsive {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.scroll_bar {
  scrollbar-width: 3px;
  scrollbar-color: #b6b6b6 #dedede;
}
.scroll_bar::-webkit-scrollbar {
  width: 0;
}
.scroll_bar::-webkit-scrollbar {
  width: 7px;
  height: 10px;
}
.scroll_bar::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 20px;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.fill_revert_layer * {
  fill: revert-layer !important;
}

.input_without_arrow::-webkit-outer-spin-button,
.input_without_arrow::-webkit-inner-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.input_without_arrow[type='number'],
input[type='number'] {
  -moz-appearance: textfield;
}

.input_outline {
  @apply input_outline_text input_outline_padding input_outline_height rounded-[50px] border border-black bg-transparent focus:outline-none;
}

.input_outline_text {
  @apply !text-[7px] font-medium text-black md:!text-[10px] xl:!text-[14px];
}

.input_outline_padding {
  @apply px-[15px] md:px-[20px] xl:px-[25px];
}

.input_outline_height {
  @apply h-[30px] md:h-[40px] xl:h-[50px];
}

.text_xs {
  @apply text-[7px] md:text-[10px] xl:text-[14px];
}
